.points-container {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: -1px 3px 9px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 3px 9px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 9px -1px rgba(0, 0, 0, 0.75);
  /* background-color: #f2f2f2; */
}

.points-container h3,
h4 {
  /* padding: 0.4rem 0; */
  width: 100%;
  margin: 0;
}

.bg-black {
  background-color: #213547;
  color: #fff;
}
.bg-blue {
  background-color: #38519f;
  color: #fff;
}

.bg-red {
  background-color: #e73a1e;
  color: #fff;
}

.bg-green {
  background-color: #8bc34a;
  color: #fff;
}

.bg-grey {
  background-color: #e6e6e6;
  font-weight: 600;
}

.match-score {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.match-score p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.1rem 0;
  gap: 0.2rem;
}

.match-score div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.points-table {
  width: 100%;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 2rem;
  margin-top: 2rem;
  gap: 0.5rem;
}

.user h3 {
  margin: 0;
}
.user-name {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 0.3rem;
}

.user-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/images/user.svg);
}

.references {
  display: flex;
  flex-direction: column;
}
