.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.login-form input {
  width: 80%;
  height: 2.5rem;
  border: 2px solid #38519f;
  border-radius: 10px;
  padding-left: 0.5rem;
}

.login-form input::placeholder {
  font-style: italic;
}

.login-form button {
  border: none;
  background-color: #38519f;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  gap: 0.3rem;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  padding: 0.6rem 1.5rem;
}

.login-form button:active {
  background-color: #fff;
  color: #38519f;
  box-shadow: none;
}

.ball-icon {
  width: 2.5rem;
  height: 2.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/images/ball.svg);
}
