.match-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  box-shadow: -1px 3px 9px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 3px 9px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 9px -1px rgba(0, 0, 0, 0.75);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  background-color: lightgray;
  /* margin: 1rem; */
  color: #000;
}

.country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-flag {
  width: 3.5rem;
  height: 3.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.spain {
  background-image: url(../assets/flags/spain.svg);
}
.italy {
  background-image: url(../assets/flags/italy.svg);
}
.france {
  background-image: url(../assets/flags/france.svg);
}
.argentina {
  background-image: url(../assets/flags/argentina.svg);
}
.new-zealand {
  background-image: url(../assets/flags/new-zealand.svg);
}
.england {
  background-image: url(../assets/flags/england.svg);
}
.portugal {
  background-image: url(../assets/flags/portugal.svg);
}
.south-africa {
  background-image: url(../assets/flags/south-africa.svg);
}
.scotland {
  background-image: url(../assets/flags/scotland.svg);
}
.samoa {
  background-image: url(../assets/flags/samoa.svg);
}
.romania {
  background-image: url(../assets/flags/romania.svg);
}
.namibia {
  background-image: url(../assets/flags/namibia.svg);
}
.japan {
  background-image: url(../assets/flags/japan.svg);
}
.ireland {
  background-image: url(../assets/flags/ireland.svg);
}
.georgia {
  background-image: url(../assets/flags/georgia.svg);
}
.chile {
  background-image: url(../assets/flags/chile.svg);
}
.australia {
  background-image: url(../assets/flags/australia.svg);
}
.uruguay {
  background-image: url(../assets/flags/uruguay.svg);
}
.tonga {
  background-image: url(../assets/flags/tonga.svg);
}
.wales {
  background-image: url(../assets/flags/wales.svg);
}
.fiji {
  background-image: url(../assets/flags/fiji.svg);
}
.winner {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/images/winner.svg);
}

.prediction-container {
  display: flex;
  /* justify-content: space-between; */
  background-color: #2d3cff;
  color: #fff;
}

.btn-predict {
  width: 100%;
  height: 3rem;
  background-color: #2d3cff;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

.btn-predict:active {
  background-color: #fff;
  color: #2d3cff;
  border: 2px solid #2d3cff;
}

.user-score {
  display: grid;
  align-items: center;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    'name name'
    'home away';
  background-color: #2d3cff;
  /* color: #fff; */
}

.team-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  background-color: #fff;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
.user-score p {
  margin: 0;
}
.user-score_name {
  grid-area: name;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0;
  font-weight: bold;
  border-bottom: 1px solid;
}
.user-score_home {
  grid-area: home;
}
.user-score_away {
  grid-area: away;
}
