.nav-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  height: 10vh;
  color: #fff;
  background-color: #2d3cff;
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.75);
}

.logo {
  background-color: #fff;
  background-image: url(../assets/images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
}
