.nav-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr 2fr; */
  align-items: center;
  /* justify-content: ; */
  width: 100vw;
  height: 10vh;
  color: #fff;
  background-color: #38519f;
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.75);
  font-weight: 600;
}

.logo {
  background-color: #fff;
  background-image: url(../assets/images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1024px) {
  .nav-container div:hover {
    cursor: pointer;
  }
}
