.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  min-height: 30vh;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.form-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  height: 3rem;
}
.form-container input {
  /* display: flex; */
  height: 90%;
  border-radius: 10px;
  border: 2px solid #38519f;
  padding-left: 1rem;
  /* font-size: 1rem; */
}

input[type='number'] {
  width: 4rem;
}

.team {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.small-flag {
  width: 2rem;
  height: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  gap: 1rem;
}

.score-btn {
  border: none;
  color: #fff;
  width: 45%;
  padding: 1rem 0;
  border-radius: 5px;
  font-size: 1.3rem;
  box-shadow: -1px 3px 9px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 3px 9px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 9px -1px rgba(0, 0, 0, 0.75);
}

.bg-blue {
  background-color: #38519f;
}

.bg-red {
  background-color: #e73a1e;
}

.bg-blue:active {
  font-weight: bold;
  background-color: #fff;
  color: #38519f;
  border: 2px solid #38519f;
  box-shadow: none;
}
.bg-red:active {
  font-weight: bold;
  background-color: #fff;
  color: #e73a1e;
  border: 2px solid #e73a1e;
  box-shadow: none;
}
