#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

@media only screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
